<div class="parent">
    <div class="container">
        <div class="card">
            <div class="cartoon">
                <img src="https://i.ibb.co.com/98gpLCQ/l1.png" alt="" id="animation1">
                <img src="https://i.ibb.co.com/Vq5j4Vg/l2.png" alt="" id="animation2" style="display: none;">
            </div>
            <form>
                <input type="text"  id="userName " #usernameInput placeholder="Enter userName" required>
                <input type="password" id="password"#passwordInput placeholder="Enter Password" required>
                <button type="button"(click)="login(usernameInput.value,passwordInput.value)">Login</button>
            </form>
            
           
        </div>
    </div>
</div>
